body {
	background-color: #232323;
	margin: 0px;
	padding: 0px;
}

.square {
	width: 30%;
	background: white;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 30px 30px 30px 30px;

}

#container {
	margin: 0px auto;
	max-width: 600px;
}

#abc {
	margin: 0px auto;
	max-width: 300px;
}

h1 {
	color: white;
	background-color: steelblue;
	margin: 0px;
	text-align: center;
	height: 100px;
	width: 100%;
	font-size: 50px;
}
span
{
	color: white;
}
#messageDisplay{
	color: black;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
}
.easy:hover{
	background-color: steelblue;
}
.hard:hover{
	background-color: steelblue;
}
.reset{
	align-items: left;
	float: left;
}
#button{
	float: right;
}